<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0-1/css/bootstrap.min.css} "/>
       <style>

        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        let map, infoWindow;
        function initMap(listener) {
            const warsaw = {lat: 52.237049, lng: 21.017532};
            // Stworz nowy obiekt google maps o nazwie "map"
            map = new google.maps.Map(document.getElementById("map"), {
                center: warsaw,
                zoom: 8,                                  // Przybliżenie skala 1 - świat, 20 - budynek
            });
            //Stworz nowy obiekt okno informacyjne o nazwie "infoWindow"
            infoWindow = new google.maps.InfoWindow();
            //Stworz przycisk - HTML element o nazwie locationButton
            const locationButton = document.createElement("button");
            //Napis wyswietlany dla uzytkownika w przycisku
            locationButton.textContent = "Locate me.";
            //Dodanie HTMLowej nazwy klasy dla przycisku
            locationButton.classList.add("custom-map-control-button");
            //Lokalizacja przycisku - Gora srodek
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
            //Zrob cos po wcisnieciu przycisku
            locationButton.addEventListener("click", () => {
                // Sprobuj geolokaliacji HTML5 - uzytkownik moze ja miec wylaczona
                if (navigator.geolocation) {
                    //Wez aktualna lokalizacje
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            const pos = {
                                lat: position.coords.latitude,  // Szerokosc geograficzna
                                lng: position.coords.longitude, // Dlugosc geograficzna
                            };
                            infoWindow.setPosition(pos);        // Ustaw pozycje na pobrane wartosci
                            infoWindow.setContent("Location found."); //Wyswietli na wyszukanej lokalizacji napis w srodku
                            infoWindow.open(map); // Otworz mape
                            map.setCenter(pos);   // Ustaw pozycje na pobrana pozycje uzytkownika
                        },
                        () => {
                            handleLocationError(true, infoWindow, map.getCenter());
                        }
                    );
                } else {
                    // Przegladarka nie wspiera Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }
            });
            // Lokalizacja Gdanska
            const gdansk = {lat: 54.372158, lng: 18.638306};
            // Marker z pozycja na Gdansku
            const marker = new google.maps.Marker({
                position: gdansk,
                map: map,
            });
            const newSpotButton = document.createElement("button");
            newSpotButton.textContent = "Add spot.";
            newSpotButton.classList.add("custom-map-control-button");
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(newSpotButton);
            //Kliknij przycisk "add spot", aby dodac marker
            newSpotButton.addEventListener("click", () => {
                //Dodaj marker w miejscu gdzie znajdujee sie kursos na mapie.
                google.maps.event.addListener(map, 'click', function (e) {
                    //Znajdz lokalizacje klikniecia
                    var location = e.latLng;
                    //Stworz marker i wstaw go na mape
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    })
                })
            })
        }
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(
                browserHasGeolocation
                    ? "Error: The Geolocation service failed."
                    : "Error: Your browser doesn't support geolocation."
            );
            infoWindow.open(map);
        }
    </script>
</head>
<body>

<div id="before-map" th:style="'background-image:url(' + @{/images/2.jpg} + '); height:55vh; background-position: center; background-repeat: no-repeat; background-size: cover;'">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">HitchHikeUp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/hhu}">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" >
        <div class="row">
            <div class="col-sm-10 mt-5">
                <form method="post" th:action="@{/hhu}">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label" th:style="'background-color: white'">Username:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="username"  th:name="username"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label" th:style="'background-color: white'">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" autocomplete="off" th:name="password"/>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Zaloguj</button>
                </form>
                <a th:href="@{/register}" class="nav-link">Registration </a>
            </div>
        </div>
    </div>
</div>

<div id="map"></div>

<div id="postForm">
    <h1> Add new post </h1>
    <form th:action="@{/post}" th:method="post" th:autocomplete="off">
        <div>
            <label> Name: <input type="text" th:field="*{place.name}"></label>
        </div>
        <div>
            <label> Latitude: <input type="text" th:field="${place.lat}"> </label>
        </div>
        <div>
            <label> Longitude: <input type="text" th:field="*{place.lng}"> </label>
        </div>
        <div>
            <label>Direction </label>
            <select name="Direction" th:field="*{place.direction}">
                <option value="N">N</option>
                <option value="S">S</option>
                <option value="W">W</option>
                <option value="E">E</option>
                <option value="SW">SW</option>
                <option value="NW">NW</option>
                <option value="SE">SE</option>
                <option value="NE">NE</option>
            </select>
        </div>
        <div>
            <label>Description: <input type="text" th:field="*{place.description}"></label>
        </div>
        <div>
            <label>Photo: <input type="file" th:field="*{place.photo}"></label>
        </div>
        <div>
            <label>Rate (max 10): <input type="number" th:max="10" th:field="*{post.rate}"></label>
        </div>
        <div>
            <label>Time: <input type="text" th:field="*{post.time}"></label>
        </div>
        <div>
            <label>Comment: <input type="text" th:field="*{post.comment}"></label>
        </div>
        <input type="submit">
    </form>
</div>

<div id="infoForm">
    <table>
        <input name="id" type="hidden" id="id"/>
        <td><a>Description:</a></td>
        <td><textarea disabled id="description" placeholder="description"></textarea></td>
    </table>
</div>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
<script th:inline="javascript">

</script>

</body>
</html>
