<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0-1/css/bootstrap.css} "/>
    <link th:rel="stylesheet" th:href="@{styles/map.css} "/>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="scripts/base64.js"></script>
    <script src="scripts/require.js"></script>
    <script th:inline="javascript"> var locationsList = [[${places}]]; </script>  <!-- deklaracja zmiennej globalnej - wartość pobierana z indexcontroller-->
    <script src="scripts/map.js"></script>


</head>
<body>
<div id="before-map"
     th:style="'background-image:url(' + @{/images/2.jpg} + '); height:55vh; background-position: center; background-repeat: no-repeat; background-size: cover;'">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">HitchHikeUp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 mt-5">
                <form method="post" th:action="@{/hhu}">
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label" th:style="'background-color: white'">Username:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="username" th:name="username"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label" th:style="'background-color: white'">Password:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" autocomplete="off"
                                   th:name="password"/>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Zaloguj</button>
                </form>
                <a th:href="@{/register}" class="nav-link">Registration </a>
            </div>
        </div>
    </div>
</div>

<div id="map"></div>

<div id="postForm">
    <h1> Add new post </h1>
    <form th:action="@{/post}" th:method="post" th:autocomplete="off">
        <div>
            <label> Name: <input type="text" th:field="*{place.name}"></label>
        </div>
        <div>
            <label> Latitude: <input type="text" th:field="${place.lat}"> </label>
        </div>
        <div>
            <label> Longitude: <input type="text" th:field="*{place.lng}"> </label>
        </div>
        <div>
            <label>Direction </label>
            <select name="Direction" th:field="*{place.direction}">
                <option value="N">N</option>
                <option value="S">S</option>
                <option value="W">W</option>
                <option value="E">E</option>
                <option value="SW">SW</option>
                <option value="NW">NW</option>
                <option value="SE">SE</option>
                <option value="NE">NE</option>
            </select>
        </div>
        <div>
            <label>Description: <input type="text" th:field="*{place.description}"></label>
        </div>
        <div>
            <label>Photo: <input type="file" th:field="*{place.photo}"></label>
        </div>
        <div>
            <label>Rate (max 10): <input type="number" th:max="10" th:field="*{post.rate}"></label>
        </div>
        <div>
            <label>Time: <input type="text" th:field="*{post.time}"></label>
        </div>
        <div>
            <label>Comment: <input type="text" th:field="*{post.comment}"></label>
        </div>
        <input type="submit">
    </form>
</div>
<div id="infoForm">
    <table>
        <input name="id" type="hidden" id="id"/>
        <td><a>Description:</a></td>
        <td><textarea disabled id="description" placeholder="description"></textarea></td>
    </table>
</div>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
</body>
</html>
